

/*color   https://www.google.com/imgres?imgurl=https://venngage-wordpress.s3.amazonaws.com/uploads/2021/06/Shades-of-Blue-Color-Palette.png&tbnid=IgA2xmSmBjN3UM&vet=1&imgrefurl=https://
venngage.com/blog/blue-color-palettes/&docid=ngiFOEA-GcZDyM&w=1600&h=900&source=sh/x/im/m1/2&kgs=2081e1070ae2e897&shem=abme,trie  */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	/*list-style: none;*/
}

html{
	height: 100%;
}
body {
	min-height: 100%;
	background: linear-gradient(to right,#c1d1e8 , #bfc4cb, #c1d1e8);
}


/*homepage*/
.header {
	overflow: hidden;
	background-color: #03054b;
	padding: 45px 45px;
   
  }
  
  /* Style the header links */
  .header a {
	float: left;
	color: white;
	text-align: center;
	padding: 8px 10px;
	margin: 5px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
   
  }
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

 header img {
	position:absolute;
	width: 350px ;
	transition: transform 0.3s ease;
	top: 200;
	z-index: 1;
   
  
  }
  /* Change the background color on mouse-over */
.header a:hover {
	background-color:#9ebbe7;
	color: black;
  }
  
  /* Style the active/current link*/
  .header a.tive {
	background-color: #9ebbe7;
	color: #03054b;
  }
  
  /* Float the link section to the right */
  .header-right {
	float: right;
  }

    /*dropdown menu */
	.dropdown {
		float: left;
		overflow: hidden;
	  }
	  
	  .dropdown .dropbtn {
		font-size: 18px;  
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	  }
	
	  .dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	  
	  .dropdown-content a {
		float: none;
		color: #03054b;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	  }
	  
	  .dropdown-content a:hover {
		background-color: #9ebbe7;
	  }
	  
	  .dropdown:hover .dropdown-content {
		display: block;
	  }





/*/*.Menu{
	overflow: hidden;
	background-color: #03054b;
	padding: 20px 20px;
   
  }

/* Style the header links */
/*.Menu a{
	float: right;
	color: white;
	text-align: center;
	padding: 1.15rem;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	text-transform: uppercase;
   
  }
/* Change the background color on mouse-over */
/*.Menu a:hover {
	background-color: #9ebbe7;
	color: black;
  }

/* Style the active/current link*/
/*.Menu li a.actives {
	background-color:  #161851;
	color: white;
  }
  
  /* Float the link section to the right */
/*.Menu li {
	float: right;
  }
  



/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */


/*
.logo img{
	max-width: 300px;
	margin-left: 25px;
}


header {
	background:  #03054b;
	height: 150px;
	box-shadow: 0 10px 10px -10px rgba(35,35, 38, 0.1);
	
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin: 0 auto;
	padding: 15px 25px;
	
}

/*/*/*.logo img{
	max-width: 180px;
	margin-left: 25px;
}
Menu{
	max-width: 1000px;
	margin: auto 15px;
	background-color: #03054b;
	padding: 5px 5px;
	display: flex;
	flex-direction: column;
    padding: 1.15rem;
	display: block;
	text-align: center;
	float: right;
	
	
	
	
	
}
Menu ul li {
	display: inline-block;


}

Menu ul li a {
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: white;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 1.15rem;
	transition: 0.4s ease;
}

Menu ul li:not(:last-child) a {
	margin-right: 25px;
}

.Menu ul li a:hover {
	background-color: #9ebbe7;
	color: #0f0e0e;
	font-weight: 700;
	padding: 5px 5px;
}

.Menu ul li a::after{
	content:"";
	position: absolute;
	bottom: 10px;
	left: 0;
}
*/

/*Main Index */
/* The hero image */
.Indexhero-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
.Indexhero-image img{
    height: 500px;
    width: 100%;
	        
}
  

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	
   
  }

.Indexhero-image h2 {
	background: #03054b;
	opacity: .6;
	padding: 20px;
	margin: 20px;
 
 }

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: white;
	background-color:  #03054b;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 15px;
}
.hero-text button:hover {
	background-color: #9ebbe7;
	color:  #03054b;
	text-transform: uppercase;
  }* {
	box-sizing: border-box;
  }










.mainSecond{
	display: block;
	justify-content: space-between;
	padding: 3rem;
}

.homeMission{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 16px;
  background-color:  #9ebbe7;
  

}
.homeMission img {
	transition: transform .3s ease;
	border-radius: 15px;
	cursor: pointer;

}
 .homeMission img:hover {
	transform: scale(1.1);
  } 


.homeMission h2 {
	font-size: 25px;
}

.homeMission p {
	font-size: 18px;
	padding: 1rem;
}

.HomeTestimony{
	padding: 3rem;
}
.HomeTestimony img {
	vertical-align: middle;
	
}
.HomeTestimony img{
	width: 700px;
	height: 375px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(1px);
	-webkit-filter: blur(1px);
	
	
}


/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #03054b;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  /* Caption text */
  .Testext {
	color: #f2f2f2;
	font-size: 18px;
	padding: 8px 12px 40px;
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 15px;
   
	
	
  }
  .Testext p{
	padding-top: 30px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: black;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #03054b;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #03054b;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  


/*.HomeTestimony h2{
	font-size: 25px;
	text-align: center;
}
.HomeTestimony h4{
	padding: 15px;
}


  
.testimonyColumns{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
  }
  
.Tescolumn {
	flex: 1;
	border: 1px solid #666;
	border-radius: 30px;
	margin: 20px;
	padding: 10px;
	background:  #98b0d4;
	transition: 0.3s;
	
  }


/*.testimony{
	padding: 80px 0;
}
.testimony h2{
	font-weight: 600;
	color: #03054b;
	font-size: 2em;
	align-items: center;
	text-align: center;
	padding: 15px 15px;
}
.testimony h4{
	font-weight: 600;
	color: #03054b;
	font-size: 1.2rem;
}
.testimony p{
	font-weight: 650;
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
	color: #303381;
}

.card{
	background: #c9daf2;
	padding: 40px 20px;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 15px;
}

/* Float four columns side by side */
/*.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
/*.row {
	align-items: center;
	margin: auto;
	padding: 25px 15px;
	max-width: 80%;
	text-align: center;

  }
	
  
  /* Clear floats after the columns */
/*.row:after {
	content: "";
	display: table;
	clear: both;
  }

*/


.wrapper{
	max-width: 75%;
	margin: auto;
	padding: 3rem;
}

.wrapper p{
	margin: 1.5rem 0;
	text-align: center;
}

.wrapper h3{
	margin: 1.5rem 0;
	text-align: center;
	
}
.wrapper h2{
	text-align: center;
	
}

.accordion{
	background-color: white;
	cursor: pointer;
	font-size: 1.2rem;
	width: 100%;
	padding: 2rem 2.5rem;
	border: none;
	outline: none;
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;

}

.accordion i{
	font-size: 1.6rem;
}
.active,
.accordion:hover{
	background-color: #c9daf2;

}

.pannel {
	padding: 0 2rem 2.5rem 2rem;
	background-color: white;
	overflow: hidden;
	background-color:  #c9daf2;
	display: none;
}

.pannel p{
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	line-height: 1.4;
}

.faq{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px 0;

}
.faq.active{
	border: none;
}
/*Footer*/

footer{
	background-color:  #03054b;
	color: white;
	width: 100%;
	display: block;
	

}
.left p{
	text-align: justify;
	align-items: center;
	
}

.main-content{
	display: flex;
}
.main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 1.12rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content{
	margin: 20px 0 0 0;
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content .social a {
	padding: 0 2px;
}

.left .content .social a span{
	height: 40px;
	width: 40px;
	background: #9ebbe7;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;;
}

.left .content .social a span:hover{
	background: wheat;
}

.left .content p{
	text-align: justify;
}


form {
	border-radius: 02px;
	border-top: 04px solid #9ebbe7;
   
  
  }
form .Footertext{
	text-align: left;
}

  
form input,
  textarea{
	padding: 7px 10px;
	margin: 5px 0 0 10px;
	width: 95%;
	border: 1px solid  #9ebbe7;
	font-size: 1rem;
	border-radius: 15px;
  }
  

  
form .btn{
	border: none;
	padding: 10px 20px;
	color:#9ebbe7 ;
	font-size: 1.5rem;
	border-radius: 15px;
	cursor: pointer;
	transition: all;
  }

.right form button {
	margin: 20px 10px;
	border: none;
	padding: 10px 20px;
	background:  #9ebbe7;
	color:  #03054b;
	font-size: 1.1rem;
	border-radius: 0.5px;
	cursor: pointer;
	transition: all;
	border-radius: 25px;
  }
  
  
  .right form button:hover{
	background: gray;
  
  }
  
  
  .place .fas{
	background: white;
	padding: 5px;
	margin: 5px;
  }

.footerSecond{
	color: gray ;
}






/* About Pgege */




	
.container {
	padding: 64px;
  }

.container img {
	transition: transform .3s ease;
	border-radius: 15px;
	cursor: pointer;
}
.container img:hover {
	transform: scale(1.1);
} 

  .container p {
	font-size:20px; }
  
  
  .row:after {
	content: "";
	display: table;
	clear: both
  }
  
  .column-66 {
	float: left;
	width: 66.66666%;
	padding: 20px;
  }
  
  .column-33 {
	float: left;
	width: 33.33333%;
	padding: 20px;
  }
  
 
  
  .xlarge-font {
	font-size: 64px
  }
  

  
  img {
	display: block;
	height: auto;
	max-width: 100%;
  }

  



/*Cleaning Page */
/* second part */

.cleaningSecond img {
	transition: transform .3s ease;
	border-radius: 15px;
	cursor: pointer;
}
.cleaningSecond img:hover {
	transform: scale(1.1);
} 

.cleaningThrid{
	padding-top: 15px;
	padding-bottom: 35px;
}

.cleaningSecond{
	width: 80%;
	margin: 80px auto;
  }
  .cleaningTitle{
	text-align: center;
	color:  #03054b;
  }
  
  .cleaningRow{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 16px;
  }
  .cleaningRow .cleaningCol{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	padding: 10px 10px;
	margin: 20px;
	padding: 10px;
	transition: 0.3s;
	width: 50%;

	
	
  
  }
  .cleaningText{
	padding-top: 20px;
  }
  .cleaningRow{
	margin-top: 50px;
  }
  .cleaningCol p{
	padding: 0 14px;
  }

  .cleaningText button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: white;
	background-color:  #03054b;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 15px;
}
.cleaningText button:hover {
	background-color: #9ebbe7;
	color:  #03054b;
	text-transform: uppercase;
  }* {
	box-sizing: border-box;
  }
  
  
  .cleaningFour .image-gallery{
	display: flex;
	flex-wrap: wrap;
  }
  
  .image-gallery img{
   width: 300px;
	margin: 10px;
  }
  
  .cleaningFour .indexRow .indexCol{
	width: 50%;
  
  }
  .contentCol{
	width: 40%;
  }
  .imageCol{
	width: 60%;
  }
  
  /*img {
	transition: transform .3s ease;
  }*/
  
  /*img:hover {
	transform: scale(1.1);
  } */



/* Cleaning third part */
/* Position the image container (needed to position the left and right arrows) */

.cleaningThrid img{
	transition: transform .3s ease;
	border-radius: 15px;
	cursor: pointer;
}
.cleaningThrid img:hover {
	transform: scale(1.1);
} 



.cleaningThrid h2{
	padding-bottom: 25px;
	text-align: center;
}
/*div.gallery {
	border: 1px solid #ccc;
  } */
  
 /* div.gallery:hover {
	border: 1px solid #777;
  }*/
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }



  /*LandsCape*/
  .LandText{
	padding-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	
 }
	/*
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	align-items: center;
  }*/

  .LandText h2{
	padding-bottom: 15px;
	text-align: center;
}
.LandText p{
	text-align: center;
}
  .PartLanScape{
	padding-top: 20px;
	padding-bottom: 25px;
  }

 

  
  



/*footer {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 10px;
	background-color:  #03054b;
	padding-top: 35px;
  }
.footer-company-name{
	color:  #666;
}

.footer-links{
	color: #a0b2cd;
	margin: 20px 0 12px;
	
	

}
.footer-links a{
	padding: 0.5rem;

}
.footer-links a:hover{
	color: aliceblue;

}

.footer-left h3 {
	color: white ;
	font: normal 36px;
	margin: 0;

}










.social {
	display: block;
	justify-content: space-between;
	padding: 10px;
	margin-right: 1.5rem;
  
	
   }

.social div{
	transform: translate(-50%, -50%);
	margin: 0 15px;
   }

.social img{
   width: 40px;
   border-radius: 15px;
}
.social img:hover{
	background: #010111;
	overflow: hidden;
}

footer p{
	color: white;
	font-size: 15px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}




	/*Testimony*/
  /* Caption text */
  .Testext {
    color: #f2f2f2;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: lighter;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 5px;
     
    
    
    }
    .Testext p{
    padding-top: 5px;
    font-size: 10px;
	font-weight: lighter;
    }
    .Testext h2{
    font-size: 12px;
	
    }
  }
 

/* Phone view */
@media only  screen and (max-width: 559px) {

header{
	display: block;
}


.header a {
	float: none;
	display: block;
	text-align: left;
	cursor: pointer;
	  }
.header-right {
	float: none;
	  }

header img {
	  display: none;
	  

		}

		
	.hero-image h2{
		font-size: 10px;
	}

    .homeMission{
	display: block;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	padding: 16px;
	background-color:  #9ebbe7;
	
  
  }
  
  
  .homeMission h2 {
	  font-size: 15px;
  }
  
  .homeMission p {
	  font-size: 10px;
	  padding: 0.5rem;
  }

  .wrapper{
	max-width: 80%;
	margin: auto;
	padding: 1.5rem;
}

.wrapper p{
	margin: 1rem 0;
	text-align: center;
}

.wrapper h3{
	margin: 14px 0;
	text-align: center;
	
}


.accordion{
	background-color: white;
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
	padding: 1rem 2rem;
	border: none;
	outline: none;
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;

}

.accordion i{
	font-size: 1rem;
}
.active,
.accordion:hover{
	background-color: #c9daf2;

}

.pannel {
	padding: 0 2rem 2.5rem 2rem;
	background-color: white;
	overflow: hidden;
	background-color:  #c9daf2;
	display: none;
}

.pannel p{
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	line-height: 1.4;
}

.faq{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px 0;

}
.faq.active{
	border: none;
}

/*Testimony*/
  /* Caption text */
  .Testext {
	color: #f2f2f2;
	padding: 8px 12px 80px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 10px;
   
	
	
  }
  .Testext p{
	padding-top: 8px;
	font-size: 12px;
  }
  .Testext h2{
	font-size: 14px;
  }



/*footer*/
.main-content{
	display: block;
	justify-content: space-between;
}

.center .right{
	padding-top: 5em;
	
}

.left p{
	text-align: justify;
	align-items: center;
	
	
}

.footerSecond  {
	text-align: center;
}

.left {
	text-align: center;
}
.center {
	text-align: center;
}
.submitBtn {
	text-align: center;
}
.right h2{
	text-align: center;
}



/* About Page */
.container p {
	font-size:12px; }

.container h1 {
	font-size:15px;
 }


/*Cleaning page*/
.cleaningTitle{
	font-size: 0.8rem;
  }
  .cleaningCol img{
	max-width: 80%;
  }

  .cleaningText h2{
	font-size: 15px;
  }

  .cleaningText a{
	font-size: 10px;
  }


  /*LandScape*/
  .LandText{
	padding-bottom: 20px;
  }

  .LandText{
	padding-bottom: 25px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	
 }
	/*
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	align-items: center;
  }*/

  .LandText h2{
	padding-bottom: 15px;
	text-align: center;
}




}




 
   /* .logo img {
		width: 150px;
		height: auto;
		top: 15px;
		
	}
	nav {
		display: flex;
		
		
	}

	

	#navigation {
		margin-left: 2vw;
		list-style-type: none;
		
		
		
		
	   
	}

	
	.Menu{
		display: block;
	}
	#navigation li a {
		border:none;
		text-decoration: none;
		padding: 1.5px;
		margin: 1.5px;
		color: white;
		display: block;
		position: relative; 
		float: left;
		font-size: 10px;
		
		
		
		
	   
	
	}
	#navigation li a:hover{
		background-color:  #98b0d4;
		color: #03054b;
	}
	
	  
	#hamButton {
		display: block;
		position: absolute;
		top: 20px;
		right: 10px;
		width: fit-content;
		font-size: 1.5rem;
		padding: .5rem;
		color: navy;
		z-index: 1;
	}

	nav ul {
		display: none;
	}
	nav ul.open {
		display: block;
	}
	#hamButton span:nth-child(1) {display: block;}
    #hamButton span:nth-child(2) {display: none;} 

    #hamButton.open span:nth-child(1) {display: none;}
    #hamButton.open span:nth-child(2) {display: block;} */



	


	/*.hero-image h2{
		font-size: 18px;
	}

    .homeMission{
	display: block;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	padding: 16px;
	background-color:  #9ebbe7;
	
  
  }
  
  
  .homeMission h2 {
	  font-size: 18px;
  }
  
  .homeMission p {
	  font-size: 15px;
	  padding: 0.5rem;
  }

  .wrapper{
	max-width: 80%;
	margin: auto;
	padding: 1.5rem;
}

.wrapper p{
	margin: 1rem 0;
	text-align: center;
}

.wrapper h3{
	margin: 18px 0;
	text-align: center;
	
}


.accordion{
	background-color: white;
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
	padding: 1rem 2rem;
	border: none;
	outline: none;
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;

}

.accordion i{
	font-size: 1rem;
}
.active,
.accordion:hover{
	background-color: #c9daf2;

}

.pannel {
	padding: 0 2rem 2.5rem 2rem;
	background-color: white;
	overflow: hidden;
	background-color:  #c9daf2;
	display: none;
}

.pannel p{
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	line-height: 1.4;
}

.faq{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px 0;

}
.faq.active{
	border: none;
}




    
	/*footer{
		display: block;
		justify-content: space-between;
		padding: 25px;
		margin: 25px;
	}
	.footer-right {
		display: flex;
		padding-top: 30px;
		margin-left: 3.5em;
		margin-right: 3em;
		align-items: center;
		
		
		
		
	}
	.footer-center{
		padding-top: 25px;
	}

	.social{
		margin-right: 1.5rem;
		margin-left: 1.5rem;
        display: flex;
        justify-content: space-around;
		
		

	}
	
	
		 
	
	


	

	  @media screen and (max-width: 1000px) {
		.column-66,
		.column-33 {
		  width: 100%;
		  text-align: center;
		}
		img {
		  margin: auto;
		}
		.container p {
			font-size:18px;
			
		 }
		 .xlarge-font {
			font-size: 50px
		  }
	  }
	  

  








